* {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 5000px;
	margin: 80x auto; 
}

.navbar {
	display: flex;
	justify-content: flex-start;
	gap: 50px;
	padding: 15px;
	padding-left: 45px;
	background-color: #9a7b5c;
	font-family: 'Roboto Flex', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;	
}

.navbar-link {
	text-decoration: none;
	color: #000000;
}

.home-body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.spots {
	display: flex;
	width: 100%;
	object-fit: cover;
	background-color: #dac7b2;
}

.chloe-smart {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 120px;
	letter-spacing: 30px;
	font-family: lust-stencil,serif;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.software-developer {
 	position: absolute;
  	top: 32%;
  	left: 50.5%;
  	transform: translate(-50%, -50%);
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 43px;
	font-size: 40px;
  	text-align: center;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: clip;
}

.about-me {
	font-family: 'Roboto Flex', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
}

.about-me-title {
	font-weight: 700;
	font-size: 50px;
	font-family: lust-stencil,serif;
	letter-spacing: 5px;
	padding-top: 0;
}

.about-text {
	padding-top: 0;
}

.about-me-section {
	display: flex;
	background-color: #cf9697;
	justify-content: center;
	padding: 20px;
	gap: 20px;
	line-height: 40px;
	padding-left: 50px;
	padding-bottom: 30px;
	padding-right: 50px;
}

.me {
	display: flex;
	justify-content: flex-end;
	width: 400px;
	height: 400px;
	margin-top: 10px;
	padding-top: 50px;
	padding-bottom: 30px;
}

.portfolio-title {
	font-family: lust-stencil,serif;
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 3px;
	padding-top: 30px;
	margin: 0;
}

.project-title {
	font-weight: 700;
	font-family: 'Roboto Flex', sans-serif;
	font-size: 25px;
}

.project-link {
	text-decoration: none;
	color: #000000;
	padding-left: 30px;
	text-decoration: underline;
}

.project-link-live {
	padding-left: 0;
}

.project-link-github {
	padding-left: 30px;
}

.project-section {
	display: flex;
	flex-direction: column;
	background-color: #dac7b2;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Roboto Flex', sans-serif;
	line-height: 40px;
	letter-spacing: 3px;
}

.project-1 .content {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	gap: 50px;
	align-items: flex-start;
	padding-bottom: 20px;
}


.project-2 .content {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	gap: 50px;
	align-items: flex-start;
	padding-bottom: 20px;
}

.project-3 .content {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	gap: 50px;
	align-items: flex-start;
	padding-bottom: 20px;
}

.project-4 .content {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	gap: 50px;
	align-items: flex-start;
	padding-bottom: 20px;
}

.bold {
	font-weight: 700;
}


.project-box-color {
	width: 200px;
	height: 200px;
}

.project-description {
	font-size: 20px;
	max-width: 1000px;
	margin: 0;
}

.contact-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
	background-color: #8d9d95;
	gap: 20px;
	align-items: center;
}

.contact-heading {
	font-family: lust-stencil,serif;
	font-size: 40px;
	padding-left: 45px;
	font-weight: 500;
	letter-spacing: 3px;
}

.logo {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

@media screen and (max-width: 1140px) {
	
	.navbar { 
		justify-content: space-between;
		padding-left: 15px;
	}
	
	.chloe-smart {
		position: absolute;
		top: 20%;
		font-size: 100px;
		letter-spacing: 6px;
		white-space: normal;
		overflow: visible;
		text-overflow: clip;  
	}

	.software-developer {
	 	position: absolute;
	  	top: 50%;
		letter-spacing: 30px;
		font-size: 35px;
	 	white-space: normal;
	  	overflow: visible;
	  	text-overflow: clip;
		line-height: 50px;	
	} 
	
	.about-me-section {
		justify-content: space-between;
		gap: 10px;	
		text-align: center;
	}
	
	.me {
		display: none;
	}

	.project-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.portfolio-description {
		text-align: center;
	}
	
	.project-1 .content {
		flex-direction: column;
		justify-content: center;
	}
	
	.project-2 .content {
		flex-direction: column;
		justify-content: center;
	}

	.project-3 .content {
		flex-direction: column;		
		justify-content: center;
	}

	.project-4 .content {
		flex-direction: column;		
		justify-content: center;
	}
	
	.project-description {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	
	.project-title {
		text-align: center;
		padding: 0;
		font-style: normal;
	}
	
	.portfolio-title {
		text-align: center;
	}

	.project-link {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding: 0;
	}
	
	.logo {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
	
	.contact-bar {
		justify-content: space-evenly;
	}
	
	.contact-heading {
		display: none;
	}
	
}

@media screen and (max-width: 500px) {
	
	.chloe-smart {
		top: 20%;
		font-size: 80px;
		letter-spacing: 3px;
	  }
	  
  	.software-developer {
  		letter-spacing: 13px;
  		font-size: 35px;	
		top: 45%;
  	}
}
	
@media screen and (max-width: 380px) {
	
	.contact-link {
		font-size: 15px;
	}
	
	.logo {
		width: 100px;
		height: 100px;
	}

	.project-box-color {
		width: 180px;
		height: 180px;
	}
	
	.chloe-smart {
		top: 20%;
		font-size: 70px;
		letter-spacing: 3px;
		font-weight: 700;
	  }	
}

@media screen and (max-width: 380px) {
	
  	.software-developer {
  		letter-spacing: 4px;
  		font-size: 20px;	
  	}
	
	.contact-link {
		font-size: 15px;
	}
	
	.logo {
		width: 80px;
		height: 80px;
	}  
	
	.navbar { 
		gap: 5px;
	}
	
	.portfolio-title {
		font-size: 35px;
	}
	
	.about-me-title {
		font-size: 35px;
	}
	
}

	